:root {
  --primary-color: #a58e5f;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --boder-color: #dbdbdb;
  --star-gold-color: #ffce3e;

  --header-search-height: 42px;
  --header-height: 86px;
  --header-navbar-height: 38px;

  --header-sort-bar-height: 46px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 100% = 16px, 62.5% = 10px -> 1rem = 10px */
  line-height: 1.6rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif !important;
}

/* others */
.change-cursor:hover {
  cursor: pointer;
}

.no-gutter-default {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  animation: fadeIn linear 0.2s;
  display: none;
  z-index: 68;
}
