a:hover,
a {
  text-decoration: none;
  color: inherit;
}

.app {
  overflow: hidden;
  position: relative;
}

/* modal log-in. register */
.modal.open {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: var(--white-color);
  width: 682px;
  max-width: calc(100% - 32px);
  border-radius: 2px;
  overflow: hidden;
  animation: modalFadeIn ease 0.5s;
}

.modal-header {
  width: 100%;
  display: flex;
  border: none;
  padding: 0;
}

.modal-header__btn {
  width: 100%;
  height: 50px;
  background-color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--text-color);
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.modal-header__btn:hover {
  color: var(--primary-color);
}

.modal-header__btn:nth-child(1) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__header-active-btn {
  color: var(--black-color) !important;
  font-weight: 500;
  position: relative;
}

.modal__header-active-btn::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 1px;
  background-color: var(--primary-color);
}
/* modal body */
.modal-body {
  padding: 26px 16px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-body__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.modal-body__item {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.modal-label {
  display: block;
  padding-bottom: 14px;
  font-weight: 500;
}

.modal-label span {
  color: red;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  outline: none;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.modal__forget-pass {
  font-size: 1.3rem;
  font-weight: 350;
  color: #9c8350;
  text-decoration: none;
  display: block;
  padding-bottom: 20px;
}

.modal__forget-pass:hover {
  opacity: 0.8;
}

.modal-body__btn {
  text-align: center;
  height: 40px;
}

.modal__btn {
  width: 40%;
  height: 100%;
  margin: 0 16px;
  font-size: 1.6rem;
  color: var(--white-color);
  background-color: var(--black-color);
  border: none;
  border-radius: 5px;
}

.modal__btn:hover {
  background-color: #9c8350;
  cursor: pointer;
}

.log-in-note {
  text-align: center;
  color: #999;
  font-size: 1.2rem;
  margin: 10px 0 0 50%;
  line-height: 1.1;
  width: 70%;
  transform: translateX(-50%);
}

/* modal footer */
.modal__footer {
  position: relative;
  text-align: center;
}

.modal__footer span {
  position: absolute;
  display: block;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 140px;
  height: 26px;
  line-height: 26px;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: var(--white-color);
  z-index: 1;
}

.modal__footer-link {
  display: inline-block;
  width: 128px;
  height: 36px;
  margin: 36px 12px 8px;
}

.modal__footer-img {
  width: 100%;
  height: 100%;
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* header */
.header {
  height: var(--header-height);
  background-color: var(--black-color);
}

.header-wrap {
  height: var(--header-height);
}

.header-wrap {
  display: flex;
  align-items: center;
  position: relative;
}

/* logo */
.header__logo {
  margin: 0 124px 0 0;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
  display: block;
  -webkit-tap-highlight-color: transparent;
}

.header__logo-img {
  width: 207px;
  height: auto;
}

/* search */
.header__search {
  position: relative;
  width: 384px;
  height: var(--header-search-height);
  background-color: var(--white-color);
  border-radius: 30px;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.4rem;
  padding: 0 20px 2px;
  background-color: rgb(0, 0, 0, 0.05);
}

.header__search-input:focus {
  background-color: var(--white-color);
}

.header__search-input::placeholder {
  font-style: italic;
  opacity: 0.8;
}

.header__search-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 60px;
  height: var(--header-search-height);
  border-radius: 30px;
}

.header__search-btn-icon {
  color: var(--primary-color);
  font-size: 1.8rem;
}

.header__search-btn-icon:hover {
  cursor: pointer;
  color: var(--black-color);
}

/* hotline */
.header__hotline {
  background-color: var(--primary-color);
  width: 216px;
  height: var(--header-search-height);
  border-radius: 30px;
  margin-left: 74px;
}

.header__hotline-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.header__hotline-link:hover .header__hotline-number {
  color: var(--black-color);
}

.header__hotline-link:hover strong {
  color: var(--white-color);
}

.header__hotline-img {
  width: 30px;
  margin-left: 16px;
}

.header__hotline-number {
  font-size: 1.8rem;
  font-weight: 450;
  margin-left: 4px;
  color: var(--white-color);
}

/* user */
.header__user {
  position: absolute;
  right: 0;
}

.header__user-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.header__user-item {
  margin-left: 40px;
  position: relative;
  top: 4px;
}

.header__user-item-link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.header__user-icon {
  font-size: 2.5rem;
  color: var(--white-color);
}

.header__user-count {
  position: absolute;
  bottom: -2px;
  right: -4px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: #ffd57e;
  padding: 0px 4px;
  border-top: 1px solid #ffd57e;
  border-radius: 7px;
}

.header__user-account {
  position: absolute;
  top: calc(100% + 31px);
  right: -3px;
  width: 130px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3.12rem 0px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding-left: 0;
  border-radius: 4px;
  z-index: 1;
  animation: fadeIn ease-in 0.2s;
  display: none;
}

.header__user-item--log-in:hover .header__user-account {
  display: block;
}

.header__user-account::before {
  content: "";
  position: absolute;
  right: 0px;
  top: -11px;
  border-bottom: 20px solid rgb(255, 255, 255);
  border-left: 18px solid transparent;
  border-right: 14px solid transparent;
}

.header__user-account::after {
  content: "";
  position: absolute;
  top: -37px;
  right: 0;
  width: 50px;
  height: 44px;
  background-color: transparent;
}

.header__user-account-item {
  text-align: center;
  font-size: 1.5rem;
  padding: 8px 0;
}

.header__user-account-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__user-account-item:hover .header__user-account-btn {
  color: var(--primary-color);
}

.header__user-account-btn {
  color: var(--text-color);
  cursor: pointer;
}

/* slide in cart */
.slide-in-cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: var(--white-color);
  transform: translateX(100%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;
  z-index: 2;
  text-align: center;
}

.slide-in-cart__heading {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.slide-in-cart__title {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.slide-in-cart__close {
  margin-top: 1px;
  cursor: pointer;
}

.slide-in-cart__close-icon {
  width: 16px;
  height: 16px;
  stroke-width: 1.4px;
}

.cart-input {
  display: none;
}

.cart-input:checked ~ .overlay {
  display: block;
}

.cart-input:checked ~ .slide-in-cart {
  transform: translateX(0);
  opacity: 1;
}

/* list item */
.cart__list {
  padding: 0 16px;
  list-style: none;
  margin-top: 32px;
  height: calc(100% - 210px);
}

.cart__item {
  padding-bottom: 30px;
}

.cart__item-wrap {
  display: flex;
  align-items: flex-start;
}

.cart__item-img {
  max-width: 75px;
}

.cart__item-info {
  padding-left: 10px;
}

.cart__item-name {
  display: block;
  text-align: left !important;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 450;
  margin-bottom: 4px;
}

.cart__item-name:hover {
  color: var(--primary-color);
}

.cart-item__numbers {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.cart__item-quantity {
  text-align: left;
  width: 50%;
}

.cart__item-price {
  width: 50%;
  justify-self: end;
}

.cart-btn-reset {
  background-color: var(--white-color);
  outline: none;
  text-align: center;
  border: 1px solid #e5e5e5;
  font-size: 1.4rem;
  height: 100%;
}
.cart__item-quantity span {
  display: block;
  font-size: 1.2rem;
  padding: 0 0 8px;
  color: var(--text-color);
}

.cart__item-quantity-adjustment {
  height: 28px;
  display: flex;
  align-items: center;
}

.cart__item-quantity-adjustment--minus {
  width: 28px;
}

.cart__item-quantity-adjustment--add {
  width: 28px;
}

.cart__item-quantity-adjustment--minus:hover,
.cart__item-quantity-adjustment--add:hover {
  cursor: pointer;
}

.cart__item-quantity-adjustment-input {
  width: 35px;
  padding: 0;
}

.cart__item-price {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.cart__item-price-numbers {
  padding-bottom: 8px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #ff0000;
}

.cart__item-remove {
  font-size: 1.2rem;
  color: var(--text-color);
}

.cart__item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* pay */
.cart__pay-totalPrice {
  width: 100%;
  padding: 0 12px 24px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--text-color);
}

.cart__pay-totalPrice-number {
  color: #ff0000;
  font-weight: 500;
}

.cart__pay-btn {
  width: 90%;
  height: 54px;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  font-size: 1.6rem;
  color: var(--white-color);
}

.cart__pay-btn:hover {
  background-color: var(--black-color);
  cursor: pointer;
}

/* header__navbar */
.header__navbar {
  height: var(--header-navbar-height);
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}

.category {
  width: 18.376%;
  height: var(--header-navbar-height);
}

.category__outside {
  width: 100%;
  display: flex;
  align-items: center;
  height: var(--header-navbar-height);
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 1px;
  cursor: pointer;
}

.category__outside-label {
  font-size: 1.5rem;
  margin: 0 14px 0;
}

.category__outside-icon {
  margin-left: 24px;
  font-size: 1.6rem;
  font-weight: 550 !important;
}

/* category__inside */
.category__inside {
  width: 420%;
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 0px 1px 18px 2px rgb(0, 0, 0, 0.1);
  transform-origin: left top;
  animation: rotate_x 0.5s ease;
  -moz-animation: rotate_x 0.5s ease;
  -webkit-animation: rotate_x 0.5s ease;
  -moz-animation: rotate_x 0.5s ease;
  -o-animation: rotate_x 0.5s ease;
  will-change: transform, opacity;
  z-index: 2;
  display: none;
}

.category:hover .category__inside {
  display: block;
}

@keyframes rotate_x {
  from {
    opacity: 0;
    transform: perspective(1000px) rotateX(-90deg);
    /* perspective: độ xa, gần (z) ?? */
  }
  to {
    opacity: 1;
    transform: perspective(1000px) rotateX(0deg);
  }
}

.category__inside-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}

.category__inside-list {
  padding-left: 0;
  list-style: none;
}

.category__inside-heading {
  display: block;
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 20px 0;
}

.category__inside-item {
  padding: 6px 0;
}

.category__inside-item-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
}

.category__inside-item-link:hover,
.category__inside-heading:hover {
  color: #9c8350;
}

/* navbar-label */
.header__navbar-slogan {
  flex: 1;
  font-size: 1.4rem;
  padding: 0 32px;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header__navbar-slogan span {
}
/* header__navbar-menu-wrap */
.header__navbar-menu-wrap {
  width: 35%;
  height: var(--header-navbar-height);
  display: flex;
  justify-content: space-between;
}

.header__navbar-link {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.4rem;
  font-weight: 300;
  line-height: var(--header-navbar-height);
}

.header__navbar-link:hover span {
  color: #9c8350;
}

.header__navbar-icon {
  color: var(--primary-color);
  padding: 0 4px;
  font-size: 1.8rem;
}

.header__navbar-icon:nth-child(odd) {
  font-weight: 900;
}

.header__navbar-icon--padding {
  position: relative;
  top: 1px;
}

/* body */
.app__container {
  margin-top: var(--header-navbar-height);
}
/* section-1 */
.wallpaper__slider {
  padding-top: 785px;
  background: url("//bizweb.dktcdn.net/100/434/558/themes/831317/assets/slider_1.jpg?1630398243026")
    top center / cover no-repeat;
}

/* section-2 */
.section-2 {
  margin: 54px 0 70px 0;
}

.section-2__category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-2__category-item {
  position: relative;
  width: 100%;
}

.section-2__category-item::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-70%);
  height: 60%;
  width: 1px;
  background-color: #f2dfb9;
}

.section-2__category-item:last-child::before {
  display: none;
}

.section-2__category-item-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black-color);
}

.category-item__img {
  max-width: 100%;
  transition: all 0.5s;
}

.category-item__img:hover {
  transform: rotate(45deg);
}

.section-2__category-item-title {
  padding-top: 12px;
  font-size: 1.4rem;
}

.section-2__category-item-link:hover .section-2__category-item-title {
  color: #9c8350;
}

/* seciton-3 */
.section-3 {
  position: relative;
  padding: 0 0 90px 0;
}

/*heading*/
.section-3__heading {
  text-align: center;
}

.section-3__heading-link {
  text-decoration: none;
}

.section-3__heading-img {
  max-width: 100%;
}

/* timer */
.timer {
  display: flex;
  z-index: 1;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 80px;
}

.timer__block {
  margin: auto;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc2028;
  border-radius: 8px;
}

.timer__item {
  position: relative;
  padding: 4px 12px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white-color);
  text-align: center;
}

.timer__item::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 1px;
  background-color: var(--white-color);
}

.timer__item:last-child:before {
  display: none;
}

.timer__item-numbers {
  padding-top: 8px;
}

/* section-3 carousel */
.awSlider {
  max-width: 100%;
  margin: 50px 0 0 0;
  padding: 60px 30px;
  border: 2px solid #dc2028;
  border-radius: 15px;
  background-color: var(--white-color);
  z-index: 1;
}

.carousel-inner {
}

.next-btn,
.prev-btn {
  background-color: #dc2028;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.8;
}

.carousel-control-prev {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -52px;
  opacity: 1;
}

.carousel-control-next {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -52px;
  opacity: 1;
}

.col.l-3 {
  display: inline-block;
  margin-left: -4px;
  padding: 8px;
}

/* section-3 product */

.product-item {
  width: 100%;
  position: relative;
  text-align: center;
  flex-shrink: 0;
  transition-property: transform;
}
/* img */
.product-item__link {
  text-decoration: none;
  overflow: hidden;
  display: block;
}

.product-item__img {
  max-width: 100%;
  transition: all 0.5s;
  margin-bottom: 16px;
}

.product-item:hover .product-item__img {
  transform: scale(1.05);
}
/* info */
.product-item__info {
  text-align: center;
}

.product-item__name {
  padding-top: 2px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.product-item__name:hover {
  color: #9c8350;
  outline: none;
}

.product-item__price {
  margin-top: 16px;
}

.product-item__price-current {
  color: #dc2028;
  font-size: 1.6rem;
  font-weight: 600;
}

.product-item__price-old {
  font-size: 1.4rem;
  text-decoration: line-through;
  color: #8e8c8c;
  padding-left: 10px;
}

.product-action {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  background-color: #eb3e32;
  border-radius: 6px;
  z-index: 1;
  display: none;
  transform-origin: bottom center;
  animation: like-action ease 0.4s;
  will-change: transform, opacity;
}

.product-item:hover .product-action {
  display: block;
}

@keyframes like-action {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.product-action:hover {
  opacity: 0.8;
}

.product-action__link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--white-color);
  position: absolute;
  top: 0;
  right: 0;
  line-height: 35px;
}

.product-action__icon--liked {
  display: none;
}

/* add-to-cart button*/
.add-to-cart__btn {
  min-width: 60%;
  height: 35px;
  background-color: #dc2028;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.6rem;
  color: var(--white-color);
  margin-top: 16px;
  padding: 0 10px;
  cursor: pointer;
}

.add-to-cart__btn:hover {
  opacity: 0.8;
}

/* section-4 */
.section-4 {
}

.section-4__background {
  background: url(//bizweb.dktcdn.net/100/434/558/themes/831317/assets/bg_sp_noibat.jpg?1630049131390)
    top center / cover no-repeat;
  padding-top: 300px;
  min-height: 1054px;
  margin-top: -290px;
  margin-bottom: 45px;
  z-index: 0;
}

.product-container__heading {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  color: #494949;
}

.product-container__heading-link {
  display: flex;
  flex-direction: column;
}

.product-container__heading-link:hover {
  color: var(--primary-color);
}

.product-container__heading-img {
  display: block;
  margin: auto;
  padding: 12px 0 24px 0;
}

/* carousel-2 */
.carousel-inner-2 .carousel-item.active,
.carousel-inner-2 .carousel-item-next,
.carousel-inner-2 .carousel-item-prev {
  display: flex;
}

.carousel-inner-2 .carousel-item-right.active,
.carousel-inner-2 .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner-2 .carousel-item-left.active,
.carousel-inner-2 .carousel-item-prev {
  transform: translateX(-33.33%);
}

.carousel-inner-2 .carousel-item-right,
.carousel-inner-2 .carousel-item-left {
  transform: translateX(0);
}

.carousel-inner-2 > .carousel-item {
  position: relative;
  display: none;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.prev-btn-2 span,
.next-btn-2 span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}

.prev-btn-2 span:hover,
.next-btn-2 span:hover {
  background-color: #ff0000;
}

.carousel-control-prev-2,
.carousel-control-next-2 {
  position: absolute;
  bottom: -50px;
}

.carousel-control-prev-2 {
  left: 48%;
  transform: translateX(-50%);
}
.carousel-control-next-2 {
  right: 48%;
  transform: translateX(-50%);
}

/* cart - animation */

.add-to-cart__action {
  position: absolute;
  right: 31%;
  opacity: 0;
  transform: translateY(-35px);
  transition: all ease 0.4s;
  z-index: 1;
}

.product-item__info-action {
  transition: all ease 0.3s;
}

.product-item:hover .product-item__info-action {
  opacity: 0;
}

.product-item:hover .add-to-cart__action {
  transform: translateY(-130%);
  opacity: 1;
}

/* section - 5 */
.product-container-section-5 {
  min-height: 952px;
}

/* section-5 selection */

/* carousel item 3 */
.section-5__selection {
  margin-top: 20px;
}

.section-5__selection-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.section-5__selection-item {
  --height: 26px;
  margin: 0 12px;
  padding: 0 16px;
  height: var(--height);
  max-width: 100px;
  border-radius: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
  line-height: var(--height);
}

.section-5__selection-item--active {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.section-5__selection-item:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* section-5 product */
.section-5_product-wrap {
  margin: 50px 0 85px;
}

.section-5__slider {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.section-5__slides {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -webkit-scroll-snap-points-x: repeat(1200px);
  -ms-scroll-snap-points-x: repeat(1200px);
  -o-scroll-snap-points-x: repeat(1200px);
  -webkit-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  -o-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  padding-bottom: 40px;
}

.section-5__slides::-webkit-scrollbar {
  display: none;
}

.section-5__slides > div {
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 1200px;
  height: 760px;
  transform-origin: center center;
  transition: transform 0.5s;
}

.section-5__slides img {
  max-width: 289px;
}

#tab-1__slide-1,
#tab-2__slide-1 {
  margin-right: 20px;
}

.slide-link-wrap {
  position: relative;
  bottom: 0;
  left: 48%;
  transform: translateX(-50%);
}

.slide-link-1-tab-2,
.slide-link-2-tab-2,
.slide-link-1,
.slide-link-2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px 16px;
  background-color: #ccc;
  border: 1 px solid rgb(0, 0, 0, 0.1);
  font-size: 1.4rem;
  line-height: 20px;
  color: var(--white-color);
  text-align: center;
}

.slide-link-1-tab-2:hover,
.slide-link-2-tab-2:hover,
.slide-link-1:hover,
.slide-link-2:hover {
  background-color: var(--primary-color);
}

.slide-link-active {
  background-color: var(--primary-color);
}

.section-5__tab-2,
.section-5__tab-3,
.section-5__tab-4,
.section-5__tab-5 {
  display: none;
}

/* section-6 */
.our-service {
  background: url("https://bizweb.dktcdn.net/100/434/558/themes/831317/assets/bg_dich_vu_chung_toi.jpg?1630049131390")
    top center / cover no-repeat;
}

.section-6__block-service {
  float: right;
}

.section-6__left {
  padding: 60px 100px 0;
}

.our-service__title h1 {
  padding: 0 0 30px;
  font-size: 3rem;
  font-weight: bold;
  color: #494949;
}

.our-service__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.our-service__item {
  display: flex;
  padding: 24px 0;
}

.our-service__item-img {
  max-width: 100%;
}

.our-service__item-info {
  padding-left: 16px;
}

.our-service__item-info-heading {
  color: #494949;
  font-size: 1.8rem;
  font-weight: 600;
}

.our-service__item-info-desc {
  margin-bottom: 0;
  color: #8e8c8c;
  font-size: 1.4rem;
  font-style: italic;
}

/* footer */
.footer {
  padding: 50px 0 0 0;
  background-color: var(--black-color);
  color: #c4c4c4;
}

.footer__content {
  border-bottom: 1px solid var(--white-color);
}

.footer__content-list {
  padding-left: 0;
  list-style: none;
  font-size: 1.4rem;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.footer__content-img {
  position: relative;
  top: -10px;
}

.footer__content-item {
  padding: 0 0 20px 0;
  display: inline-flex;
}

.footer__content-item-text {
  margin: 0 0 0 16px;
}

.footer__content-item-text strong {
  font-weight: 600;
}

.footer__content-item-contact-link {
  color: #c4c4c4;
  text-decoration: none;
}

.footer__content-item-icon {
  color: var(--primary-color);
}

.footer__content-item-link {
  text-decoration: none;
  color: #a8a6a6;
}

.footer__content-item-contact-link:hover,
.footer__content-item-link:hover {
  color: var(--primary-color);
}

.footer__content-heading {
  padding-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

/* social */
.footer__social-list {
  list-style: none;
  padding: 0 0 12px 0;
  display: flex;
  justify-content: space-around;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  font-size: 3rem;
  color: var(--primary-color);
  transition: transform ease 0.5s;
}

.footer__social-item:hover .footer__social-icon {
  transform: rotate(45deg);
}

/* payment */
.footer__payment-wrap {
  background-color: var(--white-color);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
}
/* footer bottom */
.footer__bottom {
  text-align: center;
  font-size: 1.3rem;
  padding: 16px;
}

.footer__bottom p {
  margin: 0;
  color: #a8a6a6;
}

.footer__bottom p span {
  color: var(--primary-color);
  font-weight: 900;
}
